#access_admin()
#set( $Integer = 0)
#set ($factory = $hosts)
#set ($module = "hosts")
#set($selected_hosts = $params.getValues("key[]"))
#foreach($h in $selected_hosts)
#set ($obj = $factory.getById($Integer.parseInt($h)))
#if($obj)
$instpackages.deleteByHost($obj)
$roles.clearRolesForHost($obj)
#end
$factory.delete($obj)
#end
##$response.sendRedirect("$root/$module/index.vm")
