#set($module="hosts")
#access_admin()
#set ($Integer=0)
#set ($obj=$hosts.getById($Integer.parseInt($params.key)))
#set ($obj.description=$params.description)
#set ($obj.ipAddress=$params.ipAddress)
#set ($obj.macAddress=$params.macAddress)
#set ($obj.options=$params.options)
#if($params.profileName != "-")
#set ($obj.profile=$profiles.getByName($params.profileName))
#else
#set ($obj.profile=$null)
#end
#if($hosts_editable)
$roles.setRolesForHost($obj, $params.getValues("roles[]"))
$hosts.save($obj)
$obj saved
$params.description
#end
##return_to_index("$module")
