#set($module="hosts")
#access_admin()
#set ($Integer=0)
#set ($pro=$profiles.getByName($params.actionProfile))
#set ($hostlist=$hosts.getByProfile($pro))
#set ($action="")
#if($params.action == "report")
#set($action="R")
#end
#if($params.action == "config")
#set($action="CR")
#end
#if($params.action == "update")
#set($action="CUR")
#end
#if($params.action == "reboot")
#set($action="B")
#end
#if($params.action == "custom")
#set($action="M")
#end
#if($hosts_editable)
#foreach($obj in $hostlist)
#set($obj.action=$action)
#if($params.action_args)
#set($obj.actionArgs = $params.action_args)
#else
#set($obj.actionArgs = "")
#end
$hosts.save($obj)
#end
#end
##return_to_index("$module")
