#access_admin()
#set ($module = "profiles")
#set ($Integer = 0)
#set ($p = $profiles.getById($Integer.parseInt($params.key)))
#if ($params.reponame != "null")
#set ($r = $repos.getByName($params.reponame))
#if ($r)
$profilerepos.removeRepoFromProfile($r,$p)
#end
#end
