#set($layout="json.vm")
#set ($res=${response.setContentType("application/json")})

#set($Integer=0)
#set($p=$profiles.getById($Integer.parseInt($params.key)))

#set($rs=$roles.getByProfile($p))
#set($sep="")
[
#foreach($r in $sorter.sort($rs,"name"))
$sep"$r.name"
#set($sep=",")
#end
]
