#set ($factory=$repos)
#set ($Integer = 0)
#set ($filterByOwner=$request.isUserInRole($restricted_role))
#if($params.profile)
#set ($pro=$profiles.getById($Integer.parseInt($params.profile)))
#set ($rs = $repos.getAllByProfile($pro))
#else
#set ($obj=$factory.getById($Integer.parseInt($params.key)))
#set ($rs = [ $obj ])
#end
#foreach($obj in $rs)
#if(!$filterByOwner || $request.isUserInRole("$!obj.owner"))
#set($obj.action='C')
#set ($r=$factory.save($obj))
#end
#end
