if [ -d /etc/apt ]
then
sudo gpg --no-default-keyring --keyring /etc/apt/keyrings/$repo.gpg --import <<EOF
$pubkey
EOF
fi
if [ -d /etc/pki/rpm-gpg ]
then
	sudo cat >/etc/pki/rpm-gpg/RPM-GPG-KEY-$repo.gpg <<EOF
$pubkey
EOF
fi
