if [ -d /etc/apt ]
then
	sudo gpg --no-default-keyring --keyring /etc/apt/keyrings/$repo.gpg --import <<EOF
$pubkey
EOF
fi

if [ -d /etc/zypp ]
then
	sudo mkdir -p /etc/pki/rpm-gpg
	sudo sh -c "cat >/etc/pki/rpm-gpg/$repo.gpg" <<EOF
$pubkey
EOF
	sudo rpm --import /etc/pki/rpm-gpg/$repo.gpg
fi

if [ -f /etc/dnf/dnf.conf ]
then
	sudo sh -c "cat >/etc/pki/rpm-gpg/$repo.gpg" <<EOF
$pubkey
EOF
	sudo rpm --import /etc/pki/rpm-gpg/$repo.gpg
fi
