#admin
cli-mono
comm
#database
debug
#devel
#doc
#editors
education
electronics
embedded
#fonts
games
#gnome
gnu-r
gnustep
golang
graphics
hamradio
haskell
httpd
#interpreters
#introspection
java
#javascript
kde
#kernel
#libdevel
#libs
lisp
#localization
mail
#math
#metapackages
#misc
#net
news
#ocaml
#oldlibs
#otherosfs
#perl
php
#python
#ruby
rust
science
#shells
sound
tasks
tex
#text
#translations
#utils
#vcs
video
#web
#x11
xfce
#zope
contrib/admin
contrib/comm
contrib/debug
contrib/devel
contrib/doc
contrib/electronics
contrib/fonts
contrib/games
contrib/graphics
contrib/kernel
contrib/libdevel
contrib/libs
contrib/lisp
contrib/mail
contrib/math
contrib/metapackages
contrib/misc
contrib/net
contrib/ocaml
contrib/oldlibs
contrib/otherosfs
contrib/perl
contrib/python
contrib/ruby
contrib/science
contrib/sound
contrib/text
#contrib/utils
contrib/video
contrib/web
contrib/x11
#non-free/admin
non-free/comm
non-free/devel
non-free/doc
non-free/editors
#non-free/fonts
non-free/games
non-free/graphics
non-free/java
non-free/kernel
non-free/libdevel
non-free/libs
non-free/math
non-free/metapackages
non-free/misc
non-free/net
non-free/oldlibs
non-free/otherosfs
non-free/perl
non-free/php
non-free/python
non-free/science
non-free/sound
non-free/tex
non-free/text
non-free/utils
non-free/web
non-free/x11
universe/admin
universe/cli-mono
universe/comm
universe/database
universe/debug
universe/devel
universe/doc
universe/editors
universe/education
universe/electronics
universe/embedded
universe/fonts
universe/games
universe/gnome
universe/gnu-r
universe/gnustep
universe/graphics
universe/hamradio
universe/haskell
universe/httpd
universe/interpreters
universe/introspection
universe/java
universe/javascript
universe/kde
universe/kernel
universe/libdevel
universe/libs
universe/lisp
universe/localization
universe/mail
universe/math
universe/metapackages
universe/misc
#universe/net
universe/news
universe/ocaml
universe/oldlibs
universe/otherosfs
universe/perl
universe/php
#universe/python
universe/ruby
universe/science
universe/shells
universe/sound
universe/tex
universe/text
universe/translations
#universe/utils
universe/vcs
universe/video
universe/web
universe/x11
universe/xfce
universe/zope
