<?xml version="1.0"?>

<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<tools>
  <data key="root">/nupama</data>
  <data key="repo_types" type="list" value="apt,rpm"/>
  <data key="schedules" type="list" value="-,daily,weekly,monthly"/>
  <data key="hosts_editable" value="true"/>
  <data key="config_button" value="false"/>
  <data key="restricted_role" value="packagemanager-r"/>
  <data key="actionPresets" type="list" value="sleep 10; echo test; false,sleep 10;true"/>

  <toolbox scope="request">
    <tool key="pager" createSession="true"/>
    <tool key="params" locale="de_DE"/>
    <tool key="linkr" class="org.apache.velocity.tools.generic.LinkTool" XHTML="false"/>
  </toolbox>
    
  <toolbox scope="session" locale="en_US">
    <tool class="org.apache.velocity.tools.view.BrowserTool" languagesFilter="en"/>
  </toolbox>

  <toolbox scope="application">
    <!-- set database credentials in META-INF/context.xml -->
    <tool key="upstream" class="de.dassit.nupama.UpstreamRepoService"/>
    <tool key="repos" class="de.dassit.nupama.RepositoryService"/>
    <tool key="profiles" class="de.dassit.nupama.ProfileService"/>
    <tool key="profilerepos" class="de.dassit.nupama.ProfileRepoService"/>
    <tool key="hosts" class="de.dassit.nupama.HostService"/>
    <tool key="packages" class="de.dassit.nupama.PackageService"/>
    <tool key="instpackages" class="de.dassit.nupama.InstalledPackageService"/>
    <tool key="status" class="de.dassit.nupama.TaskStatusService"/>
    <tool key="date" format="yyyy-MM-dd" depth="2" skip="month"/>
    <tool key="convert" dateFormat="yyyy-MM-dd"/>
    <tool key="number" format="#0.0"/>
  </toolbox>
</tools>
